3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/cs_history.deps.json
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/cs_history.dll
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/cs_history.dll.config
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/cs_history.exe
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/cs_history.pdb
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/cs_history.runtimeconfig.dev.json
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/cs_history.runtimeconfig.json
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/Microsoft.Office.Interop.Excel.dll
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
3rd/YP/ch01/cs_history/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
3rd/YP/ch01/cs_history/obj/cs_history.csproj.nuget.dgspec.json
3rd/YP/ch01/cs_history/obj/cs_history.csproj.nuget.g.props
3rd/YP/ch01/cs_history/obj/cs_history.csproj.nuget.g.targets
3rd/YP/ch01/cs_history/obj/project.assets.json
3rd/YP/ch01/cs_history/obj/project.nuget.cache
3rd/YP/ch01/cs_history/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
3rd/YP/ch01/cs_history/obj/Debug/netcoreapp3.1/apphost.exe
3rd/YP/ch01/cs_history/obj/Debug/netcoreapp3.1/cs_history.AssemblyInfo.cs
3rd/YP/ch01/cs_history/obj/Debug/netcoreapp3.1/cs_history.AssemblyInfoInputs.cache
3rd/YP/ch01/cs_history/obj/Debug/netcoreapp3.1/cs_history.assets.cache
3rd/YP/ch01/cs_history/obj/Debug/netcoreapp3.1/cs_history.csproj.CopyComplete
3rd/YP/ch01/cs_history/obj/Debug/netcoreapp3.1/cs_history.csproj.CoreCompileInputs.cache
3rd/YP/ch01/cs_history/obj/Debug/netcoreapp3.1/cs_history.csproj.FileListAbsolute.txt
3rd/YP/ch01/cs_history/obj/Debug/netcoreapp3.1/cs_history.csprojAssemblyReference.cache
3rd/YP/ch01/cs_history/obj/Debug/netcoreapp3.1/cs_history.dll
3rd/YP/ch01/cs_history/obj/Debug/netcoreapp3.1/cs_history.exe
3rd/YP/ch01/cs_history/obj/Debug/netcoreapp3.1/cs_history.genruntimeconfig.cache
3rd/YP/ch01/cs_history/obj/Debug/netcoreapp3.1/cs_history.pdb
3rd/OtherChapters/Chapter01/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
3rd/OtherChapters/Chapter01/obj/Debug/Chapter01.csprojAssemblyReference.cache
